*.pdf
*.png
.ipynb_checkpoints/
brain_train_2sdown_scaled
venv/
HCP_EasyReg/
abdomen_voxelmorph/
keymorph_comparison/
*.ipynb
activate
constricon_dir
results
evaluation_results
files/
__pycache__/
*.swo
*.swp
*.trch
